{% extends "main.html" %}
{% load static %}

{% block head_params %}
	
	<link rel="stylesheet" href="{% static "image_generator/gallery.css" %}">

{% endblock head_params %}

{% block title %}Gallery{% endblock title %}

{% block content %}

	<header>
		<h1>{{Title}}</h1>
	</header>

	<section id="gallery">
		{% for image in images %}
			{% include "image_generator/includes/gallery_img.html" with prompt=image.prompt link=image.link img_size=image.size id=image.image_id %}
		{% endfor %}
	</section>

	{% include "image_generator/includes/nav_buttons.html" %}
	
{% endblock content %}

